@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+JP:wght@200;400;900&family=Poppins:wght@100;400&display=swap');

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt
, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, 
header, menu, nav, section, time, mark, audio, video, details, 
summary {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* @keyframes slidein {
  from {
    margin-left: 85%;
  }
  to {
    margin-left: -85%;
  }
} */